/* General Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  background-color: darkgray;
}

a {
  text-decoration: none;
}

/* NavBar */

header {
  background-color: lightgrey;
  font-family: "Climate Crisis", cursive;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  letter-spacing: 2px;
  color: black;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
}

nav ul {
  list-style: none;
  margin-right: 2.5rem;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 0.5rem;
}

nav a {
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

/* Body */
main {
  background-image: url(/Final_Project/Screenshots/Pebble_beach.jpg);
  background-size: cover;
  height: 100vh;
}

.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 75px;
  padding: 5rem;
}

#todo-container {
  background-color: darkgray;
  opacity: 0.8;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 1em;
  max-width: 50%;
  margin: auto;
}

h3 {
  font-size: 5rem;
  margin: 1rem;
}

#new-todo-form {
  display: flex;
  margin: 2rem;
}

#new-todo-input {
  flex: 1 1 0%;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  border: none;
}

#new-todo-submit {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 0.5rem;
  border: none;
}

#new-todo-submit:hover {
  background-color: lightgreen;
}

#todos {
  margin: 2rem;
}

h4 {
  font-size: 3rem;
  margin: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0.75rem;
  border-radius: 1rem;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  flex: 1 1 0%;
  background-color: black;
  color: white;
}

.todo .text {
  background-color: black;
  border: none;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  color: white;
}

.todo .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.todo .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125 rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  border: none;
  border-radius: 1rem;
}

.todo .actions .edit:hover {
  background-color: yellow;
}

.todo .actions .delete:hover {
  background-color: red;
}


footer {
  height: 190px;
  text-align: right;
  padding: 0 120px;
  background-color: white;
}
